.h3-section > .body > h4:hover {
    height: auto;
    overflow: visible;

}

.h3-section > .body > h4 {
    height: 3.8em;
    overflow: hidden;
    z-index: 100;
    position: relative;
}

.h3-section > .body > p {
    font-size: 17px;
}

.h3-section:hover {
    z-index: 9;
}

.h3-section>.body>h4:hover {
    //box-shadow: 0 6px 8px rgba(102,119,136,0.03), 0 1px 2px rgba(102,119,136,0.3);
    box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03) inset, 0 1px 2px rgba(102, 119, 136, 0.3) inset;
    background: #fff0fa;
}

div#comments-container {
    padding: 2em 1em 1em;
}

div#gitalk-container {
    max-width: 1232px;
    margin: 2em auto;
}
