{% include meta.html %}
{% include polyfills.html %}

<!-- critical css -->
{% if include.critical == 'home' %}
    <style id='critical-css'>{% include 2017/critical/home.css %}</style>{% endif %}{% if include.critical == 'sheet' %}
    <style id='critical-css'>{% include 2017/critical/sheet.css %}</style>{% endif %}

<!-- allow disabling critical CSS optimization by passing ?nocrit=1 -->
<script id='critical-css-disable'>if(~window.location.search.indexOf('nocrit')) {
        ;[].slice.call(document.querySelectorAll('#critical-css')).map(function(e) {
            e.parentNode.removeChild(e)
        })
    }</script>

<!-- deferred css -->
<script id='deferred-css'>;(function(links) {
        (requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame || (function(fn) {
            window.addEventListener('load', fn)
        }))(function() {
            var h = document.getElementsByTagName('head')[0], l, i;
            for(i = 0; i < links.length; i++) {
                l = document.createElement('link');
                l.rel = 'stylesheet';
                l.href = links[i];
                h.appendChild(l);
            }
        })
    })([
        'https://fonts.loli.net/css?family=Cousine',
        '{{ base }}/assets/2017/style.css?t={{ timestamp }}'
    ])</script>
<link rel='stylesheet' href='https://fonts.loli.net/css?family=Cousine'>
<link rel="stylesheet" type="text/css" href="{{ base }}/assets/jquery-comments/css/jquery-comments.css?t={{ timestamp }}">
<link rel="stylesheet" type="text/css" href="{{ base }}/assets/colorbox/example3/colorbox.css?t={{ timestamp }}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.loli.net/ajax/libs/font-awesome/5.8.2/css/all.min.css">
<noscript id='deferred-css-fallback'>
    <link rel='stylesheet' href='{{ base }}/assets/2017/style.css?t={{ timestamp }}'>
</noscript>
<script> var baseUrl = "{{ base }}"; </script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
